* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login_page_sec {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%;
    height: 100%; */
}

/* MAIN WRAPPER */
.login-wrapper {
  /* width: 900px; */
  background: #fff;
  border-radius: 10px;
  display: flex;
  overflow: hidden;
  box-shadow: 0 20px 40px rgba(0,0,0,0.2);
}

/* IMAGE */
.login-image {
  width: 50%;
}

.login-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* FORM */
.login-form {
  width: 50%;
  padding: 50px;
}

.login-form h2 {
  font-size: 28px;
  margin-bottom: 8px;
  color: #23AAE2;
}

.login-form p {
  font-size: 14px;
  color: #666;
  margin-bottom: 30px;
}

.field {
  margin-bottom: 20px;
}

.field label {
  font-size: 14px;
  display: block;
  margin-bottom: 6px;
}

.field input {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ddd;
  outline: none;
}

.field input:focus {
  border-color: #6b7bdc;
}

.field input.invalid {
  border-color: red;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 4px;
  display: block;
}

/* BUTTON */
.login_btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 6px;
  background: #23aae2;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  margin-top: 10px;
}

.login_btn:hover {
  opacity: 0.9;
}

.link {
  display: block;
  text-align: center;
  margin-top: 20px;
  font-size: 13px;
  color: #6b7bdc;
  text-decoration: none;
}

form#loginForm a.link:hover {
    text-decoration: underline;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .login-wrapper {
    flex-direction: column;
    width: 90%;
  }

  .login-image {
    display: none;
  }

  .login-form {
    width: 100%;
  }
}


/* registration form start */

.register_page_sec {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* WRAPPER */
.auth-wrapper {
  width: 900px;
  background: #fff;
  border-radius: 12px;
  display: flex;
  /* overflow: hidden; */
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

/* IMAGE */
.auth-image {
  width: 50%;
  background: #f5f7ff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* FORM */
.auth-form {
  width: 50%;
  padding: 40px;
}

.title {
  color: #23AAE2;
  margin-bottom: 5px;
}

.subtitle {
  font-size: 14px;
  color: #777;
  margin-bottom: 25px;
}

.field {
  margin-bottom: 18px;
}

.field label {
  display: block;
  font-size: 13px;
  margin-bottom: 6px;
  color: #333;
}

.field input {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ddd;
  font-size: 14px;
}

.field input:focus {
  border-color: #6c73ff;
  outline: none;
}

/* BUTTON */
.btn-primary {
  width: 100%;
  padding: 13px;
  background: #23AAE2;
  border: none;
  color: #fff;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  margin-top: 10px;
}

.btn-primary:hover {
      opacity: 0.9;
}

/* BOTTOM */
.bottom-text {
  text-align: center;
  font-size: 13px;
  margin-top: 18px;
}

.bottom-text a {
  color: #23AAE2;
  text-decoration: none;
  font-weight: 500;
}

.bottom-text a:hover{
    text-decoration: underline;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .auth-wrapper {
    flex-direction: column;
    width: 95%;
  }

  .auth-image {
    width: 100%;
    padding: 20px;
  }

  .auth-form {
    width: 100%;
  }
}