* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login_page_sec {
    display: flex;
    justify-content: center;
    align-items: center;
     width: 1000px;
    max-width: 95%;
    margin: auto;
}

/* MAIN WRAPPER */
.login-wrapper {
  /* width: 900px; */
  background: #fff;
  border-radius: 10px;
  display: flex;
  overflow: hidden;
  box-shadow: 0 20px 40px rgba(0,0,0,0.2);
}

/* IMAGE */
.login-image {
  width: 50%;
}

.login-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* FORM */
.login-form {
  width: 50%;
  padding: 50px;
}

.login-form h2 {
  font-size: 28px;
  margin-bottom: 8px;
  color: #23AAE2;
}

.login-form p {
  font-size: 14px;
  color: #666;
  margin-bottom: 30px;
}

.field {
  margin-bottom: 20px;
}

.field label {
  font-size: 14px;
  display: block;
  margin-bottom: 6px;
}

.field input {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ddd;
  outline: none;
}

.field input:focus {
  border-color: #6b7bdc;
}

.field input.invalid {
  border-color: red;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 4px;
  display: block;
}

/* BUTTON */
.login_btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 6px;
  background: #23aae2;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  margin-top: 10px;
}

.login_btn:hover {
  opacity: 0.9;
}

.link {
  display: block;
  text-align: center;
  margin-top: 20px;
  font-size: 13px;
  color: #6b7bdc;
  text-decoration: none;
}

form#loginForm a.link:hover {
    text-decoration: underline;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .login-wrapper {
    flex-direction: column;
    width: 90%;
  }

  .login-image {
    display: none;
  }

  .login-form {
    width: 100%;
  }
}


/* registration form start */

.register_page_sec {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* WRAPPER */
.auth-wrapper {
  width: 900px;
  background: #fff;
  border-radius: 12px;
  display: flex;
  /* overflow: hidden; */
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

/* IMAGE */
.auth-image {
  width: 50%;
  background: #f5f7ff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* FORM */
.auth-form {
  width: 50%;
  padding: 40px;
}

.title {
  color: #23AAE2;
  margin-bottom: 5px;
}

.subtitle {
  font-size: 14px;
  color: #777;
  margin-bottom: 25px;
}

.field {
  margin-bottom: 18px;
}

.field label {
  display: block;
  font-size: 13px;
  margin-bottom: 6px;
  color: #333;
}

.field input {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ddd;
  font-size: 14px;
}

.field input:focus {
  border-color: #6c73ff;
  outline: none;
}

/* BUTTON */
.btn-primary {
  width: 100%;
  padding: 13px;
  background: #23AAE2;
  border: none;
  color: #fff;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  margin-top: 10px;
}

.btn-primary:hover {
      opacity: 0.9;
}

/* BOTTOM */
.bottom-text {
  text-align: center;
  font-size: 13px;
  margin-top: 18px;
}

.bottom-text a {
  color: #23AAE2;
  text-decoration: none;
  font-weight: 500;
}

.bottom-text a:hover{
    text-decoration: underline;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .auth-wrapper {
    flex-direction: column;
    width: 95%;
  }

  .auth-image {
    width: 100%;
    padding: 20px;
  }

  .auth-form {
    width: 100%;
  }
}


.flex-wrap.justify-content-center.gap-2 {
    display: flex;
    flex-wrap: wrap;
}

button.btn-type {
    width: calc(25% - 6px);
    display: flex;
    padding: 9px 12px;
    justify-content: center;
}

/* foms css start agent, student, reseller start */
/* ===== BASE ===== */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:"Segoe UI",sans-serif;
}

body{
  background:#f1f5f9;
}

/* ===== CARD ===== */
.sat-view-container{
  min-height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
  padding:20px;
}

.sat-card{
  background:#fff;
  max-width:1200px;
  width:100%;
  border-radius:28px;
  padding:50px;
}

/* ===== HEADER ===== */
.sat-header h2{
  font-size:42px;
  color:#23AAE2;
  margin-bottom:10px;
}

.sat-header p{
  font-size:14px;
  color:#64748b;
  border-left:4px solid #f97316;
  padding-left:15px;
  margin-bottom:40px;
}

/* ===== SECTION ===== */
.sat-section{
  margin-bottom:45px;
}

.sat-section h4{
  font-size:11px;
  letter-spacing:4px;
  text-transform:uppercase;
  display:flex;
  align-items:center;
  gap:10px;
  margin-bottom:25px;
  color:#0f172a;
}

.sat-section span{
  background:#194f68;
  color:#fff;
  width:26px;
  height:26px;
  border-radius:6px;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:10px;
}

/* ===== GRID ===== */
.sat-grid-2{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:20px;
}

.sat-grid-2.Preferred-Country {
    display: flex;
    padding: 0px;
    margin: 0px;
}

label.sat-consent.Preferred-Country_checkbox {
    padding: 0px;
    margin: 0px;
    font-size: 14px;
}

/* ===== FIELD ===== */
.sat-field label{
  font-size:11px;
  color:#94a3b8;
  font-weight:700;
  display:block;
  margin-bottom:6px;
}

.sat-field input,
.sat-field select{
  width:100%;
  padding:14px;
  border-radius:18px;
  border:1px solid #e5e7eb;
  background:#f8fafc;
  font-weight:600;
}

.sat-field input:focus,
.sat-field select:focus{
  outline:none;
  border-color:#f97316;
  background:#fff;
}

.sat-full{
  grid-column:1/-1;
}

/* ===== CONSENT ===== */
.sat-consent{
  display:flex;
  gap:15px;
  margin:40px 0;
  font-size:12px;
  color:#64748b;
}

/* ===== BUTTON ===== */
.sat-btn{
  width:100%;
  padding:22px;
  border:none;
  border-radius:32px;
  background:#194f68;
  color:#fff;
  font-weight:900;
  letter-spacing:3px;
  cursor:pointer;
}

.sat-btn:hover{
  opacity: 0.8;
}

/* Hover */
.sat-field.sat-full input[type="file"]:hover {
  border-color: #5b6cff;
  background: #f2f4ff;
}

/* Chrome / Edge / Safari */
.sat-field.sat-full input[type="file"]::file-selector-button {
  padding: 10px 18px;
  margin-right: 12px;
  border: none;
  border-radius: 8px;
  background: #23AAE2;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s ease;
}

.sat-field.sat-full input[type="file"]::file-selector-button:hover {
  background: linear-gradient(135deg, #4957e0, #6b77ff);
}

/* Firefox */
.sat-field.sat-full input[type="file"]::-moz-file-upload-button {
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(135deg, #5b6cff, #7f8cff);
  color: #fff;
  font-size: 13px;
  cursor: pointer;
}

/* ===== RESPONSIVE ===== */
@media(max-width:768px){
  .sat-grid-2{
    grid-template-columns:1fr;
  }
  .sat-header h2{
    font-size:28px;
  }

  .sat-view-container {
    padding: 0px;
}

  .sat-card {
    background: #fff;
    width: 100%;
    border-radius: 0px;
    padding: 15px;
}

.sat-grid-2.Preferred-Country {
    display: flex;
    padding: 0px;
    margin: 0px;
    flex-wrap: wrap;
}
}

/* B2B Reseller Agent form start */
.sat-consent.cls_radio_btn {
    margin: 0px;
    display: flex;
    align-items: center;
}
/* B2B Reseller Agent form end */
